name: Hello VoiceOver

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  hello-voiceover:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-11, macos-12]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Guidepup Setup
        uses: guidepup/setup-action@0.10.0
        with:
          record: true
      - run: yarn install --frozen-lockfile
      - run: npx ts-node ./examples/hello-voiceover/index.ts
      - uses: actions/upload-artifact@v3
        if: always()
        continue-on-error: true
        with:
          name: artifacts
          path: |
            **/recordings/**/*
