name: Playwright NVDA

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  playwright-nvda:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2019, windows-2022]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Guidepup Setup
        uses: guidepup/setup-action@0.6.2
      - run: yarn install --frozen-lockfile
      - run: yarn --cwd ./examples/playwright-nvda install --frozen-lockfile
      - run: yarn --cwd ./examples/playwright-nvda test
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: artifacts
          path: |
            examples/playwright-nvda/test-results/**/*
            **/recordings/**/*
