name: Playwright VoiceOver

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  playwright-voiceover:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-11, macos-12, macos-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Guidepup Setup
        uses: guidepup/setup-action@0.2.1
      - run: yarn install --frozen-lockfile
      - run: yarn --cwd ./examples/playwright-voiceover install --frozen-lockfile
      - name: Record
        shell: bash
        run: |
          mkdir -p ./recordings/
          screencapture -v -C -k -T0 -g ./recordings/playwright-voiceover.mov &
      - run: yarn --cwd ./examples/playwright-voiceover test
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: artifacts
          path: |
            ./examples/playwright-voiceover/test-results/**/*
            ./recordings
