name: Playwright VoiceOver

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  playwright-voiceover:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Guidepup Setup
        uses: guidepup/setup-action@0.1.3
      - run: yarn install --frozen-lockfile
      - run: yarn --cwd ./examples/playwright-voiceover install --frozen-lockfile
      - run: |
          ./record.sh &
          yarn --cwd ./examples/playwright-voiceover test
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: artifacts
          path: |
            ./examples/playwright-voiceover/test-results/**/*
            ./screenshots/**/*
