name: Playwright VoiceOver

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  playwright-voiceover:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-12, macos-13, macos-14]
        browser: [chromium, firefox, webkit]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Guidepup Setup
        uses: guidepup/setup-action@0.17.1
        with:
          record: true
      - run: yarn install --frozen-lockfile
      - run: yarn --cwd ./examples/playwright-voiceover install --frozen-lockfile
      - run: yarn --cwd ./examples/playwright-voiceover pretest
      - run: yarn --cwd ./examples/playwright-voiceover test:${{ matrix.browser }}
      - uses: actions/upload-artifact@v3
        if: always()
        continue-on-error: true
        with:
          name: artifacts
          path: |
            **/test-results/**/*
            **/recordings/**/*
