name: Playwright NVDA

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  playwright-nvda:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2019, windows-2022]
        browser: [chromium, firefox]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Guidepup Setup
        uses: guidepup/setup-action@0.15.0
        with:
          record: true
      - run: yarn install --frozen-lockfile
      - run: yarn --cwd ./examples/playwright-nvda install --frozen-lockfile
      - run: yarn --cwd ./examples/playwright-nvda pretest
      - run: yarn --cwd ./examples/playwright-nvda test:${{ matrix.browser }}
      - uses: actions/upload-artifact@v3
        if: always()
        continue-on-error: true
        with:
          name: artifacts
          path: |
            **/test-results/**/*
            **/recordings/**/*
