name: VoiceOver

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  voiceover:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - run: npx @guidepup/setup --ci
      - run: yarn install --frozen-lockfile
      - run: yarn --cwd examples/playwright-voiceover install --frozen-lockfile
      - run: yarn --cwd examples/playwright-voiceover test
